
/* Sub divs of the main div */

div#form-div {
	position: absolute;
	width:100%;
	height: calc(100% - 80px);
	top: 140px;
	left: 0;
	
}


/* Decorating buttons */
input[type="button"] {
	width:150px;
	letter-spacing:1px;	
}


