
body, html {
	overflow:hidden;
	clip: auto;
}

#absolute-div-1 {
	position: absolute;
	width: 10%; /*animated to 50%*/
	height: 25%;
	background: white;
	border-radius: 150px;
	
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
	left: 20%;
	top: 50%;
	
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(40deg);
	transform: translateX(-50%) translateY(-50%) rotate(40deg);
	
	-webkit-transition: .8s;
	transition: .8s;
}

#scroll-indicator-holder {
	position: absolute;
	left: calc(50% - 50px);
	bottom: 0;
	height: 20vh;
	width: 100px;
}

#scroll-line {
	position: absolute;
	width: 2px;
	height: 50%;
	background: white;
	
	left: 50%;
	bottom: 0;
	
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
}

#scroll-icon {
	position: absolute;
	width: 25px;
	
	left: 50%;
	bottom: 65%;
	
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
	animation-name: scrollAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	
}

@keyframes scrollAnimation {
	0% {bottom: 65%;}
	50% {bottom: 74%;}
	100% {bottom: 65%;}
}


#splash-text {
	position: absolute;
	font-size: 5.2vw;
	letter-spacing: .9vw;
	color: white;
	line-height: 8vw;
	font-weight: bold;
	
	left: 10%;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	
}

#splash-description {
	position: absolute;
	font-size: .7vw;
	letter-spacing: .1vw;
	color: white;
	line-height: 1vw;
	width: 30vw;
	text-align: justify;
	
	right: 10%;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

#splash-description::first-letter {
	line-height: 2.8vw;
	margin-right: .6vw;
	float: left;
	font-size: 3vw;
	color: rgba(118,200,94,1.00);
}




div#nav-bar {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: none !important;
	box-shadow: none !important;
	mix-blend-mode: difference;
}


#main-div {
	width: 100% !important;
	height: 100% !important;
}



.home-background {
	position: fixed;
	width: 100%;
	height: 100%;
	
}

.home-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.home-background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(images/home-background.jpg) no-repeat;
	background-size: cover;
	
}

.home-background-teaser {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(10,46,29,0.80);
}


#secondary-div {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	
	top: 0%;
	
	-webkit-transition: 1s;
	transition: 1s;
}

#third-div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
}

#white-teaser {
	position: absolute;
	left: 0%;
	top: 100%;
	width: 100%;
	height: 100%;
	background: white;
	
	-webkit-transition: .8s;
	transition: .8s;
	
}



#secondary-full-holder {
	position: absolute;
	width: 100%;
	height: 100%;
}


.secondary-item {
	position: absolute;
	width: 33.333%;
	height: 100%;
	cursor: pointer;
	mix-blend-mode: difference;
	
}

.center-secondary-item {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 80%;
	color: white;
	font-size: 14px;
	mix-blend-mode: difference;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.hash-number {
	font-weight: bold;
	font-size: 4em;
	height: 1em;
	margin-bottom: 30px;
	mix-blend-mode: difference;
	
}

.secondary-item-title {
	margin: 0;
	font-size: 5.5em;
	height: 1em;
	font-weight: bold;
	text-align: center;
}

.secondary-item-description {
	margin: 0;
	text-align: justify;
	font-size: .9em;
	margin-top: 30px;
	line-height: 2em;
	letter-spacing: 1px;
}

.item-animation-div {
	position: absolute;
	left: 0;
	background: white;
	width: 100%;
	bottom: 0;
	height: 0%;
	
	-webkit-transition: .65s;
	transition: .65s;
	
}















@media only screen and (max-width: 1500px) {
	.center-secondary-item {
		font-size: 11px;
	}
}

@media only screen and (max-width: 1000px) {
	.center-secondary-item {
		font-size: 9px;
	}
}

















































