
/* Sub divs of the main div */

div.form-div {
	position: absolute;
	width:100%;
	height: calc(100% - 80px);
	top: 140px;
	left: 0;
	
}

div.profile-div {
	position: relative;
	width:100%;
	height: calc(100% - 100px);
	top: 140px;
	left: 0;
}


div.left-animation-div {
	
	position: fixed;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 5;
	overflow-y: scroll;
	
	-webkit-transition: .7s;
	transition: .7s;
}

div.down-animation-div {
	
	position: fixed;
	width: 100%;
	height: 0%;
	bottom: 0;
	left: 0;
	background-color: white;
	z-index: 5;
	overflow-y: scroll;
	
	-webkit-transition: .7s;
	transition: .7s;
}

div.right-animation-div {
	
	position: fixed;
	width: 0%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: white;
	z-index: 5;
	overflow-y: scroll;
	
	-webkit-transition: .7s;
	transition: .7s;
	
}

div.bottom-pop-up {
	
	position: fixed;
	width: 50%;
	height: 0%;
	bottom: 0;
	right: 50%;	
	background-color: white;
	z-index: 5;
	overflow-y: scroll;
	
	-webkit-transition: .7s;
	transition: .7s;
	
}

button#back-button {
	
	position: absolute;
	right: 2em;
	top: 6em;
	
}



/* Decorating buttons */
input[type="button"] {
	width:150px;
	letter-spacing:1px;	
}


/* Hiding certain tables */
table#add-room-table {
	display: none;
}

table#rooms-table {
	display: none;
}

table#available-rooms-table {
	display: none;
}

table#additional-services-table {
	display: none;
}

table#room-reservations-table {
	display: none;
}

tr.initially-hidden-element {
	display: none;
}


/* Popup window - modal */

modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 08% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 65%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


table#edit-room-table {
	
	margin: 0 auto;
}

textarea#hotel-description {
	font-family: Montserrat;
}

