@font-face {
	font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

html, body {
	font-family: Montserrat;
}

.display-none {
	display: none;
}

#main-div {
	position:absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
	
	-webkit-transition: .8s;
	transition: .8s;
}

.ui.dropdown {
	width:100%;
}

#exiting-page-animation {
	position: fixed;
	width: 0%;
	height: 100%;
	background: rgba(38,102,71,1.00);
	left: 0;
	top: 0;
	z-index: 999;
	
	-webkit-transition: .7s;
	transition: .7s;
}

#form-message {
	
	display: none;
}

#form-message {
	position:absolute;
}

.input-additional {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid transparent !important;
}

.full-width-input {
	width: 100%;
}

.no-items-found {
	position: absolute;
	top: 50%;
	left: 50%;
	
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: bold;
	
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.center-content {
	position: absolute;
	top:10%;
	left: 25%;
	right: 25%;
}

.vehicle-item {
	height: 400px;
}

.reserve-vehicle-button {
	position: absolute;
	width: 100%;
	letter-spacing: 1px;
	bottom: 0;
}

.vehicle-item-holder {
	position: absolute;
	width: 90%;
	height: 90%;
	left: 50%;
	top: 50%;
	overflow: hidden;
	
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.vehicle-item-holder > div {
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.vehicle-item-name {
	font-weight: bold;
	font-size: 22px;
}

.vehicle-item-description {
	font-size: 12px;
}

.bold-font {
	font-weight: bold;
}

#go-back-items-holder {
	position: absolute;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 20px;
	left: 50px;
	top: 50%;
	cursor: pointer;
	
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#items-holder-utility{
	position:absolute;
	left: 0;
	top: 0;
	height: 100px;
	width: 100%;
	background: rgba(249,249,249,1.00);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
	
}

#vehicle-items-row {
	position: absolute;
	left: 0;
	top:100px;
	width: 100%;
	height: calc(100% - 100px);
	
	background: white;
	overflow-y:auto;
	overflow-x:hidden;
}

#items-holder {
	position: fixed;
	left:100%;
	top:80px;
	width: 100%;
	height: calc(100% - 80px);
	
	background: white;
	-webkit-transition: 1s;
	transition: 1s;
}

#dateinput {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid transparent;
}

#vehicle-number-of-people {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid transparent;
}

#dateinput.ui.input {
	width: 100%;
}

.centered-text {
	text-align:center;
}

.input:active {
	border: 1px solid #821;
}

.vehicle-search-title {
	width:100%;
	text-align:left;
	font-size: 55px;
	letter-spacing: 2px;
}

.content-title {
	width:100%;
	text-align:left;
	font-size: 55px;
	letter-spacing: 2px;
}

.content-text {
	margin-top:40px;
	text-align: justify;
	letter-spacing: 1px;
	font-size:14px;
}

.vehicle-search-text {
	margin-top:40px;
	text-align: justify;
	letter-spacing: 1px;
	font-size:14px;
}

.center-content table {
	position:relative;
	width:100%;
	font-size: 14px;
	font-weight: bold;
	letter-spacing:1px;
}

.center-content tr {
	height: 60px;
}

#data-loader {
	display: none;
}

#main-content-holder {
	position: absolute;
	width:100%;
	height: calc(100% - 80px);
	top: 140px;
	left: 0;
}

div#nav-bar {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(38,102,71,1.00);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.6);
}

#nav-bar-selection-1 {
	position: absolute;
	left: 0px;
	top: calc(50% - 30px);
	list-style: none;
	font-size: 14px;
}

#nav-bar-selection-1 > li {
	float: left;
	margin: 10px;
	padding: 9px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	-webkit-transition: border .5s;
	transition: border .5s;
}


#nav-bar-selection-2 {
	position: absolute;
	right: 35px;
	top: calc(50% - 30px);
	list-style: none;
	font-size: 14px;
}

#nav-bar-selection-2 > li {
	float: left;
	margin: 10px;
	padding: 9px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	-webkit-transition: border .5s;
	transition: border .5s;
}

#nav-bar-selection-1 > li:hover {
	border-bottom: 2px solid white;
}

#nav-bar-selection-2 > li:hover {
	border-bottom: 2px solid white;
}


#confirmation-message-holder {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.45);
	z-index: 19;
}

#centered-holder {
	position: absolute;
	width:400px;
	height: 200px;
	background: white;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
	border-radius: 25px;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

#centered-holder > table {
	position: absolute;
	left: 50%;
	top: calc(50% - 65px);
	
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#confirm-message-question {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	height: 70px;
	text-align:center;
}
















































