

body {
	font-family: Montserrat;
	background-color: #475d82;
}


/* Navigation bar */

ul#sys-admin-navbar {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #031c47;
    width: 100%
}


li.selection {
	float: left;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #031c47;
	border-right: 1px solid #bbb;
}

li#logout-selection {
	float: right;
}

li:last-child {
  border-right: none;
}

li.selection:hover {
	border-bottom: 2px solid white;
}


/* Input fields */
input, textarea {
	background-color: #A9B7C6;
	height: 4ex;
}

select {
	background-color: #A9B7C6;
	height: 4ex;
}


